/* Global */
/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-light: #ffffff;
  --color-primary-medium: #2b7fff;
  --color-primary-dark: #011c44;

  --color-secondary-0: #4a4a4a;
  --color-secondary-1: #747272;
  --color-secondary-2: #011f4a;
  --color-secondary-3: #ffd02b;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: var(--color-primary-light);
  font-style: normal;
  line-height: normal;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

.contacts-title,
.procedures-title,
.why-us-title {
  margin-bottom: 48px;
}

/* Button */

.button-primary {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background: var(--color-primary-medium);
  border-radius: 32px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 2px solid #2b7fff;
}

.button-primary:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid #2b7fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Link */

.nav-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-primary-medium);
  font-weight: 700;
  text-decoration: underline;
}

/* Hero section */
.hero-section {
  padding-top: 160px;
  padding-right: auto;
  padding-bottom: 270px;
  padding-left: auto;
}

.hero-title {
  color: var(--color-primary-medium);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
  margin-bottom: 0;
}
.hero-uptitle {
  color: var(--beauty-landing-2-c-1, #011c44);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.hero-par {
  color: var(--color-secondary-0);
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

/* About section */
.about-section {
  padding-top: 40px;
}

.about-title {
  color: var(--beauty-landing-2-c-1, --color-primary-dark);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.about-title .accent {
  color: var(--color-primary-medium);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
}

.about-text {
  color: var(--color-primary-dark);
  line-height: 1.5;
}

.about-text .accent {
  color: var(--beauty-landing-2-c-1, #011c44);
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
}

/* Why us section */

.why-us-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.why-us-title .accent {
  color: var(--color-primary-medium);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.advantages {
  color: #000;
  text-align: center;
  line-height: 1.5;
}

/* Our procedures section */

.procedures-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.procedures-title .accent {
  color: var(--color-primary-medium);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.procedures {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  line-height: 26px; /* 118.182% */
}

/* Contacts section */

.contacts-title {
  color: var(--color-primary-dark);
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.contacts-title .accent {
  color: var(--color-primary-medium);
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

/* Footer */

.footer-nav-link {
  color: var(--color-primary-light);
  font-size: 16px;
}

.footer-nav-link:hover {
  color: var(--color-secondary-3);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
}

.address-link:hover {
  color: var(--color-secondary-3);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
}

.address-copyright {
  color: var(--color-secondary-1);
  font-size: 13px;
}
